.main-chart .default-color0.chart-series-line { -fx-stroke: rgba(40, 40, 40, 1.0); }
.main-chart .default-color1.chart-series-line { -fx-stroke: rgba(10, 10, 200, 0.3); } /* bband */
.main-chart .default-color2.chart-series-line { -fx-stroke: rgba(10, 10, 200, 0.3); } /* bband */
.main-chart .default-color3.chart-series-line { -fx-stroke: rgba(0, 255, 255, 0.2); }
.main-chart .default-color4.chart-series-line { -fx-stroke: rgba(0, 0, 255, 0.2); }
.main-chart .default-color5.chart-series-line { -fx-stroke: rgba(255, 0, 255, 0.2); }
.main-chart .default-color5.chart-series-line { -fx-stroke: rgba(128, 126, 0, 0.2); }

.MACD .default-color0.chart-series-line { -fx-stroke: rgba(200, 10, 10, 1.0); }
.MACD .default-color1.chart-series-line { -fx-stroke: rgba(10, 10, 200, 1.0); }
.MACD .default-color2.chart-series-line { -fx-stroke: rgba(40, 40, 40, 0.5); }

.chart-series-line {
-fx-stroke-width: 1px;
}